@import "tailwindcss";



@theme {
  --font-mono: var(--font-space-mono);
  --color-background: oklch(0.1605 0.0261 235.85);
  --color-foreground: #fff;
}

::selection {
  color: #111;
  background: #E6E6FA;
}

