@import "tailwindcss";


/* Typography styles */

.blog-article h1 {
  @apply text-4xl leading-snug font-bold my-4;
}

.blog-article h2 {
  @apply text-2xl leading-normal font-bold my-3;
}

.blog-article h3 {
  @apply text-xl leading-normal font-bold my-2;
}

.blog-article p {
  @apply text-base leading-normal my-2;
}

.blog-article blockquote {
  @apply text-sm ml-3 my-4 pl-2 border-l-4 [&>p]:my-0;
  color: var(--color-muted);
  border-left-color: var(--color-muted);
}

.blog-article ol {
  @apply list-decimal pl-8 md:pl-10;
}

.blog-article pre {
  background: oklch(from var(--color-muted) l c h / 0.1);
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 8);
  border-radius: var(--radius-lg);
  margin: calc(var(--spacing) * 8) 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;  
}

.blog-article code {
  display: inline-block;
  min-width: 100%;      
}

/* Code */
/* Comments */
.blog-article .hljs-comment,
.blog-article .hljs-quote {
  @apply text-gray-500 italic;
}

.blog-article .hljs-keyword {
  @apply text-red-400;
}

.blog-article .hljs-title.function_,
.hljs-title.class_ {
  @apply text-amber-500;
}


/* Keywords (if, return, async) */
.blog-article .hljs-selector-tag,
.blog-article .hljs-literal,
.blog-article .hljs-title,
.blog-article .hljs-section {
  @apply text-purple-400 font-semibold;
}

/* Strings */
.blog-article .hljs-string,
.blog-article .hljs-doctag {
  @apply text-blue-300;
}

/* Numbers */
.blog-article .hljs-number {
  @apply text-green-600;
}

/* Functions */
.blog-article .hljs-function .hljs-title,
.blog-article .hljs-built_in {
  @apply text-blue-400;
}

/* Properties / attributes */
.blog-article .hljs-attr,
.blog-article .hljs-attribute {
  @apply text-sky-400;
}

/* Variables */
.blog-article .hljs-variable,
.blog-article .hljs-template-variable {
  @apply text-red-400;
}

/* Class & Types */
.blog-article .hljs-class .hljs-title,
.blog-article .hljs-type {
  @apply text-yellow-300;
}

/* Table styling */

.blog-article table {
  @apply w-full border-collapse my-6 text-sm;
}


.blog-article th {
  @apply text-left font-semibold py-3 px-4 border-b;
  background: oklch(from var(--color-muted) l c h / 0.2);
  border-bottom-color: oklch(from var(--color-muted) l c h / 0.1);
}

.blog-article td {
  @apply py-3 px-4 border-b;
  border-bottom-color: oklch(from var(--color-muted) l c h / 0.1);
}

.blog-article tbody tr:hover {
  @apply bg-gray-50 dark:bg-gray-900/30;
  background-color:  oklch(from var(--color-muted) l c h / 0.1);;
}

.blog-article tbody tr:last-child td {
  @apply border-b-0;
}

